<html>
    <head>
    </head>
    <body>
        <h1>This is the edit page</h1>

        <form action="/meds/edit/{{med.mid}}" method="post">
            <input type="text" name="name" value="{{med.name}}" placeholder=""/>
            <input type="text" name="count" value="{{med.count}}" placeholder=""/>
            <input type="text" name="brand" value="{{med.brand}}" placeholder=""/>

            <button type="submit">Save</button>
        </form>
    </body>
</html>